.request-error-container {
    width: 1251px;
    background-color: var(--bg-color-error-alert);
    border: 1px solid var(--color-error-border);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    margin: 0;
    box-shadow: 0 4px 6px var(--color-shadow-light);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.request-error-general-title {
    color: var(--text-color-error-alert);
    font-size: 38px;
    font-weight: 500;
    border-bottom: 1px solid var(--border-color-error-alert);
    padding-bottom: 8px;
}

.request-error-context,
.request-error-title {
    font-size: var(--font-size-md);
    margin: 0;
    padding: 0;
    color: var(--text-color-error-alert);
}

.request-error-title {
    font-weight: var(--font-weight-bold);
}

.request-error-container a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition);
    margin: 0;
}

.request-error-container a:hover {
    color: var(--color-secondary);
}