.welcome-container {
    padding-left: 41px;
    text-align: left;
}

.welcome-title {
    font-size: var(--font-size-xl);
    color: var(--text-color-default);
}

.welcome-subtitle {
    font-size: var(--font-size-md);
    color: var(--text-color-muted);
    margin-bottom: 27px;
}

/* Estilos para tablets e dispositivos de tamanho médio */
@media (max-width: 768px) {
    .welcome-title {
        font-size: var(--font-size-lg); /* Reduzindo o tamanho da fonte */
    }

    .welcome-subtitle {
        font-size: var(--font-size-sm); /* Reduzindo o tamanho da fonte */
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
    .welcome-container {
        padding-left: 20px; /* Reduzindo o padding */
    }

    .welcome-title {
        font-size: var(--font-size-md); /* Reduzindo ainda mais o tamanho da fonte */
    }

    .welcome-subtitle {
        font-size: var(--font-size-xs); /* Reduzindo ainda mais o tamanho da fonte */
        margin-bottom: 15px; /* Ajustando o espaçamento */
    }
}