.profile-search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.profile-search-card {
    background-color: var(--bg-color-card);
    width: 1251px;
    max-width: 95%; /* Adicionando max-width para se adaptar a dispositivos menores */
    height: 270px;
    border-radius: 16px;
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Mantendo o alinhamento original */
}

.profile-search-title {
    font-size: var(--font-size-lg);
    font-weight: 500;
    text-align: left; /* Mantendo o alinhamento original */
    color: var(--text-color-dark);
    margin-bottom: 12px;
}

.profile-search-input-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: flex-start; /* Mantendo o alinhamento original */
    width: 100%; /* Ajustando a largura para 100% */
}

.profile-search-input {
    width: 298px;
    max-width: 90%; /* Adicionando max-width para se adaptar a dispositivos menores */
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--text-color-muted);
    padding: 0 var(--spacing-xs);
    font-size: var(--font-size-xs);
    outline: none;
    transition: border-color var(--transition);
    color: var(--text-color-default);
    margin-bottom: 24px;
}

/* Estilos para tablets e dispositivos de tamanho médio */
@media (max-width: 768px) {
    .profile-search-title {
        font-size: var(--font-size-md); /* Reduzindo o tamanho da fonte */
    }

    .profile-search-input {
        font-size: var(--font-size-xs); /* Reduzindo o tamanho da fonte */
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
    .profile-search-card {
        align-items: center; /* Centralizando o conteúdo em dispositivos móveis */
    }

    .profile-search-title {
        font-size: var(--font-size-sm); /* Reduzindo ainda mais o tamanho da fonte */
        text-align: center; /* Centralizando o título em dispositivos móveis */
    }

    .profile-search-input-container {
        align-items: center; /* Centralizando o input em dispositivos móveis */
    }

    .profile-search-input {
        font-size: var(--font-size-xs); /* Reduzindo ainda mais o tamanho da fonte */
    }
}