.header-container {
    height: 62px;
    background-color: var(--bg-color-header);
    display: flex;
    align-items: center;
    padding-left: 41px;
}

.header-title {
    color: var(--text-color-light);
    font-size: var(--font-size-md);
}

/* Responsividade para tablets e dispositivos menores */
@media (max-width: 768px) {
    .header-container {
        padding-left: 20px;
        height: 50px;
    }

    .header-title {
        font-size: var(--font-size-sm);
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .header-container {
        padding-left: 10px;
        height: 40px;
    }

    .header-title {
        font-size: var(--font-size-xs);
    }
}